/**********************************************************************/
/* Bootstrap color reset */
:root {
  --bs-primary: #007bff; /* Primary color */
  --bs-secondary: #6c757d; /* Secondary color */
  --bs-success: #28a745; /* Success color */
  --bs-danger: #af190e; /* Danger color */
  --bs-warning: #F28123; /* Warning color */
  --bs-info: #17a2b8; /* Info color */
  --bs-light: #f8f9fa; /* Light color */
  --bs-dark: #051922; /* Dark color */
  --bs-text-color: #212529; /* Default text color */
  --bs-text-muted: #6c757d; /* Muted text color */
}

body {
  color: var(--bs-text-color);
}

.text-primary {
  color: var(--bs-primary) !important;
}

.text-secondary {
  color: var(--bs-secondary) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.text-danger {
  color: var(--bs-danger) !important;
}

.text-warning {
  color: var(--bs-warning) !important;
}

.text-info {
  color: var(--bs-info) !important;
}

.text-light {
  color: var(--bs-light) !important;
}

.text-dark {
  color: var(--bs-dark) !important;
}

.text-muted {
  color: var(--bs-text-muted) !important;
}

/**********************************************************************/
/* Bootstrap css reset */
/* Custom Primary Button Styles */
.btn-primary {
  background-color: var(--bs-warning);
  border-color: var(--bs-warning);
  color: var(--bs-light);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

/* Custom Secondary Button Styles */
.btn-secondary {
  background-color: transparent;
  border-color: var(--bs-warning);
  color: var(--bs-light);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

/* Button padding and font */
.btn-primary, 
.btn-secondary,
.btn-danger,
.btn-success {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  font-weight: bolder;
  letter-spacing: 1px;
  border-radius: 0;
}

/* Custom Danger Button Styles */
.btn-danger {
  background-color: var(--bs-danger);
  border-color: var(--bs-danger);
  color: var(--bs-light);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
  background-color: var(--bs-dark);
  border-color: var(--bs-dark);
}

/* Button padding and font */
.btn-primary, .btn-secondary, .btn-danger {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  font-weight: bolder;
  letter-spacing: 1px;
}

/**********************************************************************/
/* Hero section */
#hero {
  height: 100vh;
  background-image: url('../images/playhouse-hero.jpg');
  background-size: cover;
  background-position: center right;
}

.hero-background {
  height: 100vh;
  background-color: rgba(5, 25, 34, 0.5);
}

#hero h1, #hero h2 {
  padding-left: 35px;
  padding-right: 35px;
}

  #hero h1 {
    letter-spacing: 5px;
  }

/**********************************************************************/
/* About section */
#about-us {
  position: relative;
  background-color: var(--bs-light);
}

.features {
  gap: 1rem;
}

.features h3 {
  width: 100%;
}

.feature {
  max-width: 380px;
  gap: 2rem;
}

.icon {
  height: 40px;
  width: 40px;
  border: 1px dotted var(--bs-warning);
  border-radius: 100%;
  color: var(--bs-warning);
}

.left-side {
  width: 60%;
}

.right-side {
  width: 40%;
  background-image: url('../images/playhouse-1.webp');
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 1400px) {
  .feature {
    max-width: 300px;
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 1200px) {
  .left-side {
    width: 50%;
  }

  .right-side {
    width: 50%;

  }
}

@media only screen and (max-width: 766px) {
  .left-side {
    width: 100%;
  }

  .right-side {
    display: none;

  }
  .feature {
    max-width: 100%;
  }
}
